body {
    background-color: floralwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.block {
    border: 2px solid rgb(236, 149, 0);
    width: 30%; 
    padding: 20px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, button {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}
